<div class="col-lg-auto">
  <div class=" card">
    <h4 class="card-header">Create doctor schedule</h4>
    <div class="card-body">
      <form [formGroup]="doctorScheduleForm">
        <div class="form-group">
          <label for="doctorId">Doctor ID</label>
          <input type="number" formControlName="doctorId" class="form-control"
                 [ngClass]="{'is-invalid': submitted && f.doctorId.errors}" />
          <div *ngIf="submitted && f.doctorId.errors" class="invalid-feedback">
            <div *ngIf="f.doctorId.errors.required">DoctorID is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="day">Day</label>
          <select formControlName="day" class="form-control" size="7" [ngClass]="{'is-invalid': submitted && f.day.errors}">
            <option disabled>Choose day</option>
            <option selected value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
            <option value="Sunday">Sunday</option>
          </select>
          <div *ngIf="submitted && f.day.errors" class="invalid-feedback">
            <div *ngIf="f.day.errors.required">Day is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="startTime">Start Time</label>
          <input type="time" formControlName="startTime" class="form-control"
                 [ngClass]="{'is-invalid': submitted && f.startTime.errors}" />
          <div *ngIf="submitted && f.startTime.errors" class="invalid-feedback">
            <div *ngIf="f.startTime.errors.required">Start time is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="endTime">End Time</label>
          <input type="time" formControlName="endTime" class="form-control"
                 [ngClass]="{'is-invalid': submitted && f.endTime.errors}" />
          <div *ngIf="submitted && f.endTime.errors" class="invalid-feedback">
            <div *ngIf="f.endTime.errors.required">End time is required</div>
          </div>
        </div>
        <button type="submit" (click)="OnSubmit()" [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Create
        </button>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
      </form>
    </div>
  </div>
</div>
